/* font style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

p {
    color: #6C6B6B;
    font-size: 16px;
}

.schedule {
    color: #21B573;
}

.red-color {
    color: #FD511A;
}

.img-sizing img {
    height: 85px;
    width: 100%;
}